.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  background-color: #eaeaea;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
