.project-item {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.project-item h3 {
  margin-top: 0;
}

.project-item p {
  font-size: 1rem;
}

.project-item a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #3498db;
}

@media (min-width: 800px) {
  .content-project {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .project-item {
    background-color: #395ca1;
    margin: 0.5rem;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }
}
