.content-skills {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.skills-list {
  color: white;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
