.text-image {
  width: 100%;
}

.text-image__img {
  width: 100%;
}

.text-image + h2 {
  margin-top: 2rem;
}

.text-image__content {
  padding: 2rem;
}

@media (min-width: 800px) {
  .text-image {
    display: flex;
  }

  .text-image--reverse {
    flex-direction: row-reverse;
  }

  .text-image--reverse > .text-image__img {
    margin-right: 0;
    margin-left: 2rem;
  }

  .text-image__img {
    margin-right: 3rem;
  }

  .text-image__img,
  .text-image__content {
    width: 50%;
  }

  .text-image__content {
    padding: 0;
  }
}
