body {
  background-color: #133a62;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2d8b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem white solid;
  padding-left: 1.25rem;
  width: 100%;
}

.header-link {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__link {
  color: black;
  padding: 1.25rem;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  background-color: #395ca1;
  color: white;
}

.nav__link--active {
  background-color: #638475;
  color: white;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
